*.a
*.o
/Makefile
/goto_trans/javab
/goto_trans/make.def
/goto_trans_bcel/GotoTrans$1TrivialFormatter.class
/goto_trans_bcel/GotoTrans.class
/libbytecode/Makefile
/libbytecode/bytecode.h
/libbytecode/make.def
/src/f2j-config.h
/src/f2java
/src/make.def
/src/y.output
/src/y.tab.c
/src/y.tab.h
/util/f2jutil.jar
/util/make.def
autom4te.cache/
config.log
config.status
configure
obj/
